<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itbaizhan.travel.mapper.RoleMapper">
    <select id="findRoleIdByAdmin" parameterType="int"  resultType="int" >
        SELECT rid FROM admin_role WHERE aid = #{aid}
    </select>

    <delete id="deleteRoleAllPermission" parameterType="int">
        DELETE
        FROM role_permission
        where rid = #{rid}
    </delete>


    <insert id="addRolePermission">
        INSERT INTO role_permission
        values (#{rid}, #{pid})
    </insert>

</mapper>
