<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>修改用户</title>
  <th:block th:replace="/backstage/common_resources::common_css"/>
  <th:block th:replace="/backstage/common_resources::common_js"/>
</head>
<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">
  <!-- 页面头部 -->
  <header th:replace="~{/backstage/common_header::header}"></header>
  <!-- 导航侧栏 -->
  <aside th:replace="~{/backstage/common_aside::aside}"></aside>
  <!-- 内容区域 -->
  <div class="content-wrapper">
    <!-- 内容头部 -->
    <section class="content-header">
      <h1>
        用户管理 <small>修改用户</small>
      </h1>
      <ol class="breadcrumb">
        <li><a th:href="@{/backstage/index}"><i
                class="fa fa-dashboard"></i> 首页</a></li>
        <li><a th:href="@{/backstage/admin/all}">用户管理</a></li>
        <li class="active">修改用户</li>
      </ol>
    </section>
    <!-- 正文区域 -->
    <section class="content">
      <form th:action="@{/backstage/admin/update}" method="post">
        <input type="hidden" th:value="${admin.aid}" name="aid">
        <div class="panel panel-default">
          <div class="panel-heading">用户信息</div>
          <div class="row data-type">
            <div class="col-md-2 title">用户名称</div>
            <div class="col-md-4 data">
              <input type="text" class="form-control" name="username"
                     placeholder="用户名称" th:value="${admin.username}">
            </div>
            <div class="col-md-2 title">密码</div>
            <div class="col-md-4 data">
              <input type="password" class="form-control" name="password"
                     placeholder="密码" th:value="${admin.password}">
            </div>
            <div class="col-md-2 title">邮箱</div>
            <div class="col-md-4 data">
              <input type="text" class="form-control" name="email"
                     placeholder="邮箱" th:value="${admin.email}">
            </div>
            <div class="col-md-2 title">联系电话</div>
            <div class="col-md-4 data">
              <input type="text" class="form-control" name="phoneNum"
                     placeholder="联系电话" th:value="${admin.phoneNum}">
            </div>
            <div class="col-md-2 title">用户状态</div>
            <div class="col-md-4 data">
              <select class="form-control select2" style="width: 100%"
                      name="status">
                <option value="false">关闭</option>
                <option value="true" selected="selected">开启</option>
              </select>
            </div>
          </div>
          <!--工具栏-->
          <div class="box-tools text-center">
            <button type="submit" class="btn bg-maroon">保存</button>
            <button type="button" class="btn bg-default" onclick="history.back(-1);">返回
            </button>
          </div>
        </div>
      </form>
    </section>
    <!-- 正文区域 /-->
  </div>
  <!-- 底部导航 -->
  <footer th:replace="~{/backstage/common_footer::footer}"></footer>
</div>


</body>
</html>
