<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>搜索</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" href="css/search.css">
    <script src="js/jquery-3.3.1.js"></script>
</head>

<body>
<!--引入头部-->
<div id="header"></div>
<div class="page_one">
    <div class="contant">
        <div class="left">
            <ul>
                <li>
                    <img src="images/search.jpg" width="320">
                    <div class="content">
                        <p class="title">
                            山西五台山2日1晚跟团游
                        </p>
                        <div>
                            <p class="price_num">
                                <span>&yen;</span>
                                <span>299</span>
                                <span>起</span>
                            </p>
                            <p class="details">
                                <a href="#">查看详情</a>
                            </p>
                        </div>
                        </p>
                    </div>
                </li>
                <li>
                    <img src="images/search.jpg" width="320">
                    <div class="content">
                        <p class="title">
                            山西五台山2日1晚跟团游
                        </p>
                        <div>
                            <p class="price_num">
                                <span>&yen;</span>
                                <span>299</span>
                                <span>起</span>
                            </p>
                            <p class="details">
                                <a href="#">查看详情</a>
                            </p>
                        </div>
                        </p>
                    </div>
                </li>
                <li>
                    <img src="images/search.jpg" width="320">
                    <div class="content">
                        <p class="title">
                            山西五台山2日1晚跟团游
                        </p>
                        <div>
                            <p class="price_num">
                                <span>&yen;</span>
                                <span>299</span>
                                <span>起</span>
                            </p>
                            <p class="details">
                                <a href="#">查看详情</a>
                            </p>
                        </div>
                        </p>
                    </div>
                </li>
                <li>
                    <img src="images/search.jpg" width="320">
                    <div class="content">
                        <p class="title">
                            山西五台山2日1晚跟团游
                        </p>
                        <div>
                            <p class="price_num">
                                <span>&yen;</span>
                                <span>299</span>
                                <span>起</span>
                            </p>
                            <p class="details">
                                <a href="#">查看详情</a>
                            </p>
                        </div>
                        </p>
                    </div>
                </li>
                <li>
                    <img src="images/search.jpg" width="320">
                    <div class="content">
                        <p class="title">
                            山西五台山2日1晚跟团游
                        </p>
                        <div>
                            <p class="price_num">
                                <span>&yen;</span>
                                <span>299</span>
                                <span>起</span>
                            </p>
                            <p class="details">
                                <a href="#">查看详情</a>
                            </p>
                        </div>
                        </p>
                    </div>
                </li>
                <li>
                    <img src="images/search.jpg" width="320">
                    <div class="content">
                        <p class="title">
                            山西五台山2日1晚跟团游
                        </p>
                        <div>
                            <p class="price_num">
                                <span>&yen;</span>
                                <span>299</span>
                                <span>起</span>
                            </p>
                            <p class="details">
                                <a href="#">查看详情</a>
                            </p>
                        </div>
                        </p>
                    </div>
                </li>
            </ul>
            <div class="pageNum">
                <ul>
                    <li><a href="">首页</a></li>
                    <li class="threeword"><a href="#">上一页</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><a href="#">10</a></li>
                    <li class="threeword"><a href="javascript:;">下一页</a></li>
                    <li class="threeword"><a href="javascript:;">末页</a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <ul class="tops_list">
                <li class="header">热门推荐</li>
                <li class="item">
                    <span class="badge">1</span>
                    <img src="/frontdesk/images/top1.jpg" width="80px" height="80px"/>
                    <div class="contents">
                        <span>喀纳斯8日游</span>
                        <p>
                            <span class="price">￥6980</span>
                            |
                            <span class="score">5.0分</span>
                        </p>
                    </div>

                </li>
                <li class="item">
                    <span class="badge" style="background:#FF8B26">2</span>
                    <img src="/frontdesk/images/top2.jpg" width="70px" height="70px"/>
                    <div class="content">
                        <span>黄果树梵净山11日游</span><br/>
                        <span class="price">￥3280</span>
                        |
                        <span class="score">5.0分</span>
                    </div>
                </li>
                <li class="item">
                    <span class="badge" style="background:#FFB63E">3</span>
                    <img src="/frontdesk/images/top3.jpeg" width="80px" height="80px"/>
                    <div class="content">
                        <span>庐山3日游</span><br/>
                        <span class="price">￥1817</span>
                        |
                        <span class="score">5.0分</span>
                    </div>
                </li>
                <li class="item">
                    <span class="badge" style="background:#99AECA ;">4</span>
                    <img src="/frontdesk/images/top4.jpg" width="80px" height="80px"/>
                    <div class="content">
                        <span>张家界+黄龙洞+天门山+凤凰4日游</span><br/>
                        <span class="price">￥2780</span>
                        |
                        <span class="score">5.0分</span>
                    </div>
                </li>
                <li class="item">
                    <span class="badge" style="background:#99AECA ;">5</span>
                    <img src="/frontdesk/images/top5.jpg" width="80px" height="80px"/>
                    <div class="content">
                        <span>拉萨布宫-巴松错-羊湖卧飞9日游</span><br/>
                        <span class="price">￥7780</span>
                        |
                        <span class="score">5.0分</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>

<!--引入头部-->
<div id="footer"></div>
<!--导入布局js，共享header和footer-->
<script type="text/javascript" src="js/include.js"></script>
</body>

</html>